In [1]:
import pandas as pd

df = pd.read_csv("SAML-D.csv")

In [2]:
df.columns

Index(['Time', 'Date', 'Sender_account', 'Receiver_account', 'Amount',
       'Payment_currency', 'Received_currency', 'Sender_bank_location',
       'Receiver_bank_location', 'Payment_type', 'Is_laundering',
       'Laundering_type'],
      dtype='object')

In [3]:
df.dtypes

Time                       object
Date                       object
Sender_account              int64
Receiver_account            int64
Amount                    float64
Payment_currency           object
Received_currency          object
Sender_bank_location       object
Receiver_bank_location     object
Payment_type               object
Is_laundering               int64
Laundering_type            object
dtype: object

In [4]:
df.shape

(9504852, 12)

In [5]:
df.head(10)

,Time,Date,Sender_account,Receiver_account,Amount,Payment_currency,Received_currency,Sender_bank_location,Receiver_bank_location,Payment_type,Is_laundering,Laundering_type
0,10:35:19,2022-10-07,8724731955,2769355426,1459.15,UK pounds,UK pounds,UK,UK,Cash Deposit,0,Normal_Cash_Deposits
1,10:35:20,2022-10-07,1491989064,8401255335,6019.64,UK pounds,Dirham,UK,UAE,Cross-border,0,Normal_Fan_Out
2,10:35:20,2022-10-07,287305149,4404767002,14328.44,UK pounds,UK pounds,UK,UK,Cheque,0,Normal_Small_Fan_Out
3,10:35:21,2022-10-07,5376652437,9600420220,11895.00,UK pounds,UK pounds,UK,UK,ACH,0,Normal_Fan_In
4,10:35:21,2022-10-07,9614186178,3803336972,115.25,UK pounds,UK pounds,UK,UK,Cash Deposit,0,Normal_Cash_Deposits
5,10:35:21,2022-10-07,8974559268,3143547511,5130.99,UK pounds,UK pounds,UK,UK,ACH,0,Normal_Group
6,10:35:23,2022-10-07,980191499,8577635959,12176.52,UK pounds,UK pounds,UK,UK,ACH,0,Normal_Small_Fan_Out
7,10:35:23,2022-10-07,8057793308,9350896213,56.90,UK pounds,UK pounds,UK,UK,Credit card,0,Normal_Small_Fan_Out
8,10:35:26,2022-10-07,6116657264,656192169,4738.45,UK pounds,UK pounds,UK,UK,Cheque,0,Normal_Fan_Out
9,10:35:29,2022-10-07,7421451752,2755709071,5883.87,Indian rupee,UK pounds,UK,UK,Credit card,0,Normal_Fan_Out

In [6]:
df.isnull().sum()

Time                      0
Date                      0
Sender_account            0
Receiver_account          0
Amount                    0
Payment_currency          0
Received_currency         0
Sender_bank_location      0
Receiver_bank_location    0
Payment_type              0
Is_laundering             0
Laundering_type           0
dtype: int64

In [7]:
df['Sender_account'].nunique(),df['Receiver_account'].nunique()

(292715, 652266)

In [8]:
df.columns = df.columns.str.lower()

In [9]:
df.columns

Index(['time', 'date', 'sender_account', 'receiver_account', 'amount',
       'payment_currency', 'received_currency', 'sender_bank_location',
       'receiver_bank_location', 'payment_type', 'is_laundering',
       'laundering_type'],
      dtype='object')

In [10]:
# --- if u have spaces in ur column names u can use this snippet --- #
# df.columns = df.columns.str.lower()
# df.columns = df.columns.str.replace(" ", "_")
# df.columns

In [11]:
df["tx_ts"] = pd.to_datetime(df["date"].astype(str)+" "+ df["time"].astype(str),errors = "coerce")
df["tx_ts"].head(10)

0   2022-10-07 10:35:19
1   2022-10-07 10:35:20
2   2022-10-07 10:35:20
3   2022-10-07 10:35:21
4   2022-10-07 10:35:21
5   2022-10-07 10:35:21
6   2022-10-07 10:35:23
7   2022-10-07 10:35:23
8   2022-10-07 10:35:26
9   2022-10-07 10:35:29
Name: tx_ts, dtype: datetime64[ns]

In [12]:
df["tx_ts"].head(5), df["tx_ts"].isna().sum(), df[["date","time"]].head(3)

(0   2022-10-07 10:35:19
 1   2022-10-07 10:35:20
 2   2022-10-07 10:35:20
 3   2022-10-07 10:35:21
 4   2022-10-07 10:35:21
 Name: tx_ts, dtype: datetime64[ns],
 np.int64(0),
          date      time
 0  2022-10-07  10:35:19
 1  2022-10-07  10:35:20
 2  2022-10-07  10:35:20)

In [13]:
""" Clean text columns (strip + normalize)

Run this:

text_cols = [
    "payment_currency", "received_currency",
    "sender_bank_location", "receiver_bank_location",
    "payment_type", "laundering_type"
]

for c in text_cols:
    df[c] = df[c].astype(str).str.strip()

# quick check: show unique examples after cleaning
{c: df[c].dropna().unique()[:10] for c in text_cols} """

' Clean text columns (strip + normalize)\n\nRun this:\n\ntext_cols = [\n    "payment_currency", "received_currency",\n    "sender_bank_location", "receiver_bank_location",\n    "payment_type", "laundering_type"\n]\n\nfor c in text_cols:\n    df[c] = df[c].astype(str).str.strip()\n\n# quick check: show unique examples after cleaning\n{c: df[c].dropna().unique()[:10] for c in text_cols} '

In [14]:
text_cols = [ "payment_currency", "received_currency",
    "sender_bank_location", "receiver_bank_location",
    "payment_type", "laundering_type"]

for c in text_cols:
    df[c] = df[c].astype(str).str.strip()
    print(df[c].unique()[:10])
    print("\n")

['UK pounds' 'Indian rupee' 'Albanian lek' 'Swiss franc' 'Pakistani rupee'
 'Naira' 'Yen' 'Euro' 'Dirham' 'Mexican Peso']


['UK pounds' 'Dirham' 'Pakistani rupee' 'Euro' 'US dollar' 'Mexican Peso'
 'Indian rupee' 'Albanian lek' 'Turkish lira' 'Naira']


['UK' 'Albania' 'Nigeria' 'Japan' 'Spain' 'Switzerland' 'UAE' 'Italy'
 'France' 'Pakistan']


['UK' 'UAE' 'Spain' 'France' 'USA' 'Mexico' 'Albania' 'Turkey' 'Nigeria'
 'Switzerland']


['Cash Deposit' 'Cross-border' 'Cheque' 'ACH' 'Credit card' 'Debit card'
 'Cash Withdrawal']


['Normal_Cash_Deposits' 'Normal_Fan_Out' 'Normal_Small_Fan_Out'
 'Normal_Fan_In' 'Normal_Group' 'Normal_Cash_Withdrawal'
 'Normal_Periodical' 'Normal_Foward' 'Normal_Mutual' 'Smurfing']

In [15]:
df["is_laundering"].value_counts()

is_laundering
0    9494979
1       9873
Name: count, dtype: int64

In [16]:
df.loc[df["is_laundering"] == 1, "laundering_type"].value_counts().head(50)

laundering_type
Structuring             1870
Cash_Withdrawal         1334
Deposit-Send             945
Smurfing                 932
Layered_Fan_In           656
Layered_Fan_Out          529
Stacked Bipartite        506
Behavioural_Change_1     394
Bipartite                383
Cycle                    382
Fan_In                   364
Gather-Scatter           354
Behavioural_Change_2     345
Scatter-Gather           338
Single_large             250
Fan_Out                  237
Over-Invoicing            54
Name: count, dtype: int64

In [17]:
df.loc[df["is_laundering"] == 1 , "laundering_type"].value_counts()

laundering_type
Structuring             1870
Cash_Withdrawal         1334
Deposit-Send             945
Smurfing                 932
Layered_Fan_In           656
Layered_Fan_Out          529
Stacked Bipartite        506
Behavioural_Change_1     394
Bipartite                383
Cycle                    382
Fan_In                   364
Gather-Scatter           354
Behavioural_Change_2     345
Scatter-Gather           338
Single_large             250
Fan_Out                  237
Over-Invoicing            54
Name: count, dtype: int64

In [18]:
# amount sanity
(df["amount"] <= 0).sum(), df["amount"].describe()

(np.int64(0),
 count    9.504852e+06
 mean     8.762968e+03
 std      2.561495e+04
 min      3.730000e+00
 25%      2.143688e+03
 50%      6.113720e+03
 75%      1.045846e+04
 max      1.261850e+07
 Name: amount, dtype: float64)

In [19]:
# laundering flag sanity
df["is_laundering"].unique(), df["is_laundering"].value_counts()

(array([0, 1]),
 is_laundering
 0    9494979
 1       9873
 Name: count, dtype: int64)

In [20]:
#sampling the data from 10M to 1M

In [21]:
laundering_tx = df[df["is_laundering"] == 1]

laundering_accounts = pd.Index(
    laundering_tx["sender_account"]
).union(
    pd.Index(laundering_tx["receiver_account"])
)

len(laundering_tx), laundering_accounts.size

(9873, 18079)

In [22]:
tx_laundering_accounts = df[
    df["sender_account"].isin(laundering_accounts) |
    df["receiver_account"].isin(laundering_accounts)
]

tx_laundering_accounts.shape

(1486495, 13)

In [23]:
tx_laundering_accounts["is_laundering"].value_counts(), tx_laundering_accounts.shape

(is_laundering
 0    1476622
 1       9873
 Name: count, dtype: int64,
 (1486495, 13))

In [24]:
tx_laundering = tx_laundering_accounts[
    tx_laundering_accounts["is_laundering"] == 1
]

tx_non_laundering = tx_laundering_accounts[
    tx_laundering_accounts["is_laundering"] == 0
]

tx_laundering.shape, tx_non_laundering.shape

((9873, 13), (1476622, 13))

In [25]:
# sort by time first
tx_non_laundering_sorted = tx_non_laundering.sort_values("tx_ts")

# keep last N txns per sender laundering account
sender_recent = (
    tx_non_laundering_sorted[
        tx_non_laundering_sorted["sender_account"].isin(laundering_accounts)
    ]
    .groupby("sender_account")
    .tail(30)
)

# keep last N txns per receiver laundering account
receiver_recent = (
    tx_non_laundering_sorted[
        tx_non_laundering_sorted["receiver_account"].isin(laundering_accounts)
    ]
    .groupby("receiver_account")
    .tail(30)
)

# combine and deduplicate
tx_non_laundering_trimmed = pd.concat(
    [sender_recent, receiver_recent]
).drop_duplicates()

tx_non_laundering_trimmed.shape

(278916, 13)

In [26]:
tx_core = pd.concat(
    [tx_laundering, tx_non_laundering_trimmed]
).drop_duplicates()

tx_core.shape

(288789, 13)

In [27]:
safe_pool = df[
    (df["is_laundering"] == 0) &
    (~df["sender_account"].isin(laundering_accounts)) &
    (~df["receiver_account"].isin(laundering_accounts))
]

safe_pool.shape

(8018357, 13)

In [28]:
import numpy as np

safe_pool = safe_pool.copy()

safe_pool["amount_bucket"] = pd.qcut(
    safe_pool["amount"],
    q=5,
    labels=["very_low", "low", "medium", "high", "very_high"]
)

safe_pool["amount_bucket"].value_counts()

amount_bucket
medium       1603675
very_low     1603674
very_high    1603671
low          1603669
high         1603668
Name: count, dtype: int64

In [29]:
# how many rows we need
target_safe_rows = 711_211

# calculate sampling fraction
sample_frac = target_safe_rows / len(safe_pool)

safe_sample = (
    safe_pool
    .groupby(
        ["amount_bucket", "payment_type", "payment_currency", "sender_bank_location"],
        group_keys=False
    )
    .apply(lambda x: x.sample(frac=sample_frac, random_state=42))
)

safe_sample.shape

C:\Users\anjal\AppData\Local\Temp\ipykernel_9696\2135262715.py:9: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  .groupby(
C:\Users\anjal\AppData\Local\Temp\ipykernel_9696\2135262715.py:13: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  .apply(lambda x: x.sample(frac=sample_frac, random_state=42))

(711036, 14)

In [30]:
# how many more rows needed
remaining = 711_211 - len(safe_sample)
remaining

175

In [31]:
# rows not already sampled
safe_remaining_pool = safe_pool.drop(safe_sample.index)

safe_topup = safe_remaining_pool.sample(
    n=remaining,
    random_state=42
)

safe_sample_final = pd.concat([safe_sample, safe_topup])

safe_sample_final.shape

(711211, 14)

In [32]:
final_tx = pd.concat(
    [tx_core, safe_sample_final],
    ignore_index=True
)

# drop helper column
final_tx = final_tx.drop(columns=["amount_bucket"])

final_tx.shape, final_tx["is_laundering"].value_counts()

((1000000, 13),
 is_laundering
 0    990127
 1      9873
 Name: count, dtype: int64)

In [33]:
# Sampling is done next is Feature Engineering

In [34]:
# work on a copy
tx = final_tx.copy()

# ensure proper sorting
tx = tx.sort_values("tx_ts")

# set index for time-based ops
tx = tx.set_index("tx_ts")

tx.head(3)

,time,date,sender_account,receiver_account,amount,payment_currency,received_currency,sender_bank_location,receiver_bank_location,payment_type,is_laundering,laundering_type
tx_ts,,,,,,,,,,,,
2022-10-07 10:35:20,10:35:20,2022-10-07,1491989064,8401255335,6019.64,UK pounds,Dirham,UK,UAE,Cross-border,0,Normal_Fan_Out
2022-10-07 10:35:23,10:35:23,2022-10-07,8057793308,9350896213,56.90,UK pounds,UK pounds,UK,UK,Credit card,0,Normal_Small_Fan_Out
2022-10-07 10:35:37,10:35:37,2022-10-07,6715177555,4460925916,586.28,UK pounds,UK pounds,UK,UK,Cheque,0,Normal_Small_Fan_Out

In [35]:
tx = tx.reset_index()   # tx_ts becomes a column again

In [36]:
df.columns

Index(['time', 'date', 'sender_account', 'receiver_account', 'amount',
       'payment_currency', 'received_currency', 'sender_bank_location',
       'receiver_bank_location', 'payment_type', 'is_laundering',
       'laundering_type', 'tx_ts'],
      dtype='object')

In [37]:
tx = final_tx.copy()
tx["txn_date"] = tx["tx_ts"].dt.date

tx[["tx_ts", "txn_date"]].head(3)

                tx_ts    txn_date
0 2022-10-07 10:46:37  2022-10-07
1 2022-10-07 11:19:32  2022-10-07
2 2022-10-07 11:35:42  2022-10-07

In [38]:
# daily aggregation per sender
sender_daily = (
    tx
    .groupby(["sender_account", "txn_date"])
    .agg(
        sender_txn_count_1d=("amount", "count"),
        sender_txn_amount_1d=("amount", "sum")
    )
    .reset_index()
)

sender_daily.head(), sender_daily.shape

(   sender_account    txn_date  sender_txn_count_1d  sender_txn_amount_1d
 0            9018  2023-07-22                    1           3319.060000
 1           32095  2023-04-29                    5          25786.350000
 2           61549  2022-12-23                    2          10011.490000
 3           92172  2023-02-18                    1          10690.147860
 4           92172  2023-02-20                    1          10163.542406,
 (649160, 4))

In [39]:
# sort correctly
sender_daily = sender_daily.sort_values(["sender_account", "txn_date"])

# compute 7-day rolling metrics
sender_daily["sender_txn_count_7d"] = (
    sender_daily
    .groupby("sender_account")["sender_txn_count_1d"]
    .rolling(7, min_periods=1)
    .sum()
    .reset_index(level=0, drop=True)
)

sender_daily["sender_txn_amount_7d"] = (
    sender_daily
    .groupby("sender_account")["sender_txn_amount_1d"]
    .rolling(7, min_periods=1)
    .sum()
    .reset_index(level=0, drop=True)
)

sender_daily.head(10)

,sender_account,txn_date,sender_txn_count_1d,sender_txn_amount_1d,sender_txn_count_7d,sender_txn_amount_7d
0,9018,2023-07-22,1,3319.060000,1.0,3319.060000
1,32095,2023-04-29,5,25786.350000,5.0,25786.350000
2,61549,2022-12-23,2,10011.490000,2.0,10011.490000
3,92172,2023-02-18,1,10690.147860,1.0,10690.147860
4,92172,2023-02-20,1,10163.542406,2.0,20853.690266
5,92172,2023-07-17,1,2046.950000,3.0,22900.640266
6,92172,2023-07-18,2,463.100000,5.0,23363.740266
7,92172,2023-07-20,3,5184.060000,8.0,28547.800266
8,92172,2023-07-23,1,263.870000,9.0,28811.670266
9,92172,2023-07-26,1,3710.910000,10.0,32522.580266

In [40]:
# join daily sender velocity back to transactions
tx = tx.merge(
    sender_daily,
    on=["sender_account", "txn_date"],
    how="left"
)

tx[[
    "tx_ts",
    "sender_account",
    "sender_txn_count_1d",
    "sender_txn_amount_1d",
    "sender_txn_count_7d",
    "sender_txn_amount_7d"
]].head(10)

,tx_ts,sender_account,sender_txn_count_1d,sender_txn_amount_1d,sender_txn_count_7d,sender_txn_amount_7d
0,2022-10-07 10:46:37,7401327478,1,2603.30000,1.0,2603.30000
1,2022-10-07 11:19:32,6340007440,1,106.04000,1.0,106.04000
2,2022-10-07 11:35:42,3758118046,1,5903.33000,1.0,5903.33000
3,2022-10-07 11:45:53,445154846,1,3957.87000,1.0,3957.87000
4,2022-10-07 12:39:03,2758469152,1,7832.41000,1.0,7832.41000
5,2022-10-07 12:46:14,5748489103,1,3252.35000,1.0,3252.35000
6,2022-10-07 13:05:00,4928880336,1,10753.26727,1.0,10753.26727
7,2022-10-07 13:30:06,4624222122,2,17592.77000,2.0,17592.77000
8,2022-10-07 13:33:59,5262095561,1,4194.02000,1.0,4194.02000
9,2022-10-07 13:50:25,2369776263,1,10511.87000,1.0,10511.87000

In [41]:
# define threshold (parameterized)
THRESHOLD = 10000
LOWER_BOUND = 0.9 * THRESHOLD  # 9000

# flag near-threshold transactions
tx["near_threshold_flag"] = (
    (tx["amount"] >= LOWER_BOUND) &
    (tx["amount"] < THRESHOLD)
).astype(int)

tx[["amount", "near_threshold_flag"]].head(10)

        amount  near_threshold_flag
0   2603.30000                    0
1    106.04000                    0
2   5903.33000                    0
3   3957.87000                    0
4   7832.41000                    0
5   3252.35000                    0
6  10753.26727                    0
7  13837.82000                    0
8   4194.02000                    0
9  10511.87000                    0

In [42]:
# count near-threshold txns per sender per day
structuring_daily = (
    tx[tx["near_threshold_flag"] == 1]
    .groupby(["sender_account", "txn_date"])
    .size()
    .reset_index(name="near_threshold_count_1d")
)

structuring_daily.head(), structuring_daily.shape

(   sender_account    txn_date  near_threshold_count_1d
 0          344654  2022-11-02                        1
 1          432973  2023-03-08                        1
 2          432973  2023-04-02                        1
 3          432973  2023-04-19                        1
 4          432973  2023-08-21                        1,
 (27750, 3))

In [43]:
# define rule threshold
STRUCTURING_TXN_COUNT = 3

# create structuring flag
structuring_daily["structuring_flag"] = (
    structuring_daily["near_threshold_count_1d"] >= STRUCTURING_TXN_COUNT
).astype(int)

structuring_daily["structuring_flag"].value_counts(), structuring_daily.head()

(structuring_flag
 0    23618
 1     4132
 Name: count, dtype: int64,
    sender_account    txn_date  near_threshold_count_1d  structuring_flag
 0          344654  2022-11-02                        1                 0
 1          432973  2023-03-08                        1                 0
 2          432973  2023-04-02                        1                 0
 3          432973  2023-04-19                        1                 0
 4          432973  2023-08-21                        1                 0)

In [44]:
# join structuring flag to transactions
tx = tx.merge(
    structuring_daily[
        ["sender_account", "txn_date", "structuring_flag"]
    ],
    on=["sender_account", "txn_date"],
    how="left"
)

# fill missing as 0 (no structuring)
tx["structuring_flag"] = tx["structuring_flag"].fillna(0).astype(int)

tx["structuring_flag"].value_counts(), tx[["amount", "near_threshold_flag", "structuring_flag"]].head(10)

(structuring_flag
 0    941418
 1     58582
 Name: count, dtype: int64,
         amount  near_threshold_flag  structuring_flag
 0   2603.30000                    0                 0
 1    106.04000                    0                 0
 2   5903.33000                    0                 0
 3   3957.87000                    0                 0
 4   7832.41000                    0                 0
 5   3252.35000                    0                 0
 6  10753.26727                    0                 0
 7  13837.82000                    0                 0
 8   4194.02000                    0                 0
 9  10511.87000                    0                 0)

In [45]:
# daily median amount per sender
sender_daily_amount = (
    tx
    .groupby(["sender_account", "txn_date"])
    .agg(
        median_amount_1d=("amount", "median")
    )
    .reset_index()
)

sender_daily_amount.head(), sender_daily_amount.shape

(   sender_account    txn_date  median_amount_1d
 0            9018  2023-07-22       3319.060000
 1           32095  2023-04-29       5171.950000
 2           61549  2022-12-23       5005.745000
 3           92172  2023-02-18      10690.147860
 4           92172  2023-02-20      10163.542406,
 (649160, 3))

In [46]:
# sort correctly
sender_daily_amount = sender_daily_amount.sort_values(
    ["sender_account", "txn_date"]
)

# 30-day rolling median baseline
sender_daily_amount["median_amount_30d"] = (
    sender_daily_amount
    .groupby("sender_account")["median_amount_1d"]
    .rolling(30, min_periods=5)   # need at least some history
    .median()
    .reset_index(level=0, drop=True)
)

sender_daily_amount.head(10)

   sender_account    txn_date  median_amount_1d  median_amount_30d
0            9018  2023-07-22       3319.060000                NaN
1           32095  2023-04-29       5171.950000                NaN
2           61549  2022-12-23       5005.745000                NaN
3           92172  2023-02-18      10690.147860                NaN
4           92172  2023-02-20      10163.542406                NaN
5           92172  2023-07-17       2046.950000                NaN
6           92172  2023-07-18        231.550000                NaN
7           92172  2023-07-20        948.880000           2046.950
8           92172  2023-07-23        263.870000           1497.915
9           92172  2023-07-26       3710.910000           2046.950

In [47]:
SPIKE_MULTIPLIER = 3

sender_daily_amount["spike_flag"] = (
    (sender_daily_amount["median_amount_30d"].notna()) &
    (sender_daily_amount["median_amount_1d"] >
     SPIKE_MULTIPLIER * sender_daily_amount["median_amount_30d"])
).astype(int)

sender_daily_amount["spike_flag"].value_counts(), sender_daily_amount.head(10)

(spike_flag
 0    585802
 1     63358
 Name: count, dtype: int64,
    sender_account    txn_date  median_amount_1d  median_amount_30d  spike_flag
 0            9018  2023-07-22       3319.060000                NaN           0
 1           32095  2023-04-29       5171.950000                NaN           0
 2           61549  2022-12-23       5005.745000                NaN           0
 3           92172  2023-02-18      10690.147860                NaN           0
 4           92172  2023-02-20      10163.542406                NaN           0
 5           92172  2023-07-17       2046.950000                NaN           0
 6           92172  2023-07-18        231.550000                NaN           0
 7           92172  2023-07-20        948.880000           2046.950           0
 8           92172  2023-07-23        263.870000           1497.915           0
 9           92172  2023-07-26       3710.910000           2046.950           0)

In [48]:
# join spike flag to transactions
tx = tx.merge(
    sender_daily_amount[
        ["sender_account", "txn_date", "spike_flag"]
    ],
    on=["sender_account", "txn_date"],
    how="left"
)

# fill missing as 0 (no spike)
tx["spike_flag"] = tx["spike_flag"].fillna(0).astype(int)

tx["spike_flag"].value_counts(), tx[["amount", "sender_txn_amount_7d", "spike_flag"]].head(10)

(spike_flag
 0    856026
 1    143974
 Name: count, dtype: int64,
         amount  sender_txn_amount_7d  spike_flag
 0   2603.30000            2603.30000           0
 1    106.04000             106.04000           0
 2   5903.33000            5903.33000           0
 3   3957.87000            3957.87000           0
 4   7832.41000            7832.41000           0
 5   3252.35000            3252.35000           0
 6  10753.26727           10753.26727           0
 7  13837.82000           17592.77000           0
 8   4194.02000            4194.02000           0
 9  10511.87000           10511.87000           0)

In [49]:
# fan-out: unique receivers per sender per day
fanout_daily = (
    tx
    .groupby(["sender_account", "txn_date"])["receiver_account"]
    .nunique()
    .reset_index(name="unique_receivers_1d")
)

fanout_daily.head(), fanout_daily.shape

(   sender_account    txn_date  unique_receivers_1d
 0            9018  2023-07-22                    1
 1           32095  2023-04-29                    1
 2           61549  2022-12-23                    1
 3           92172  2023-02-18                    1
 4           92172  2023-02-20                    1,
 (649160, 3))

In [50]:
# fan-in: unique senders per receiver per day
fanin_daily = (
    tx
    .groupby(["receiver_account", "txn_date"])["sender_account"]
    .nunique()
    .reset_index(name="unique_senders_1d")
)

fanin_daily.head(), fanin_daily.shape

(   receiver_account    txn_date  unique_senders_1d
 0             13266  2023-08-15                  1
 1             23159  2023-05-22                  1
 2             48238  2023-03-02                  1
 3             92172  2022-10-28                  1
 4             92172  2022-10-30                  1,
 (682383, 3))

In [51]:
FAN_THRESHOLD = 5

# fan-out flag
fanout_daily["fanout_flag"] = (
    fanout_daily["unique_receivers_1d"] >= FAN_THRESHOLD
).astype(int)

# fan-in flag
fanin_daily["fanin_flag"] = (
    fanin_daily["unique_senders_1d"] >= FAN_THRESHOLD
).astype(int)

fanout_daily["fanout_flag"].value_counts(), fanin_daily["fanin_flag"].value_counts()

(fanout_flag
 0    636566
 1     12594
 Name: count, dtype: int64,
 fanin_flag
 0    670095
 1     12288
 Name: count, dtype: int64)

In [52]:
# join fan-out flag
tx = tx.merge(
    fanout_daily[
        ["sender_account", "txn_date", "fanout_flag"]
    ],
    on=["sender_account", "txn_date"],
    how="left"
)

# join fan-in flag
tx = tx.merge(
    fanin_daily[
        ["receiver_account", "txn_date", "fanin_flag"]
    ],
    on=["receiver_account", "txn_date"],
    how="left"
)

# fill missing flags
tx["fanout_flag"] = tx["fanout_flag"].fillna(0).astype(int)
tx["fanin_flag"] = tx["fanin_flag"].fillna(0).astype(int)

tx[["fanout_flag", "fanin_flag"]].value_counts()

fanout_flag  fanin_flag
0            0             580629
1            0             216936
0            1             202435
Name: count, dtype: int64

In [ ]:
#Risk Scoring & Customer Table Creation

In [53]:
VELOCITY_TXN_THRESHOLD = 10

tx["velocity_flag"] = (
    tx["sender_txn_count_7d"] >= VELOCITY_TXN_THRESHOLD
).astype(int)

tx["velocity_flag"].value_counts()

velocity_flag
0    659429
1    340571
Name: count, dtype: int64

In [54]:
tx["risk_score_txn"] = (
    3 * tx["structuring_flag"] +
    2 * tx["spike_flag"] +
    2 * tx["velocity_flag"] +
    1 * tx["fanout_flag"] +
    1 * tx["fanin_flag"]
)

tx["risk_score_txn"].describe(), tx["risk_score_txn"].value_counts().sort_index()

(count    1000000.000000
 mean           1.564207
 std            1.883535
 min            0.000000
 25%            0.000000
 50%            1.000000
 75%            2.000000
 max            8.000000
 Name: risk_score_txn, dtype: float64,
 risk_score_txn
 0    406338
 1    199080
 2    152834
 3    105294
 4     25082
 5     58588
 6     35820
 7       323
 8     16641
 Name: count, dtype: int64)

In [55]:
account_risk = (
    tx
    .groupby("sender_account")
    .agg(
        total_txn_count=("risk_score_txn", "count"),
        flagged_txn_count=("risk_score_txn", lambda x: (x > 0).sum()),
        max_risk_score=("risk_score_txn", "max"),
        avg_risk_score=("risk_score_txn", "mean")
    )
    .reset_index()
)

account_risk.head(), account_risk.shape

(   sender_account  total_txn_count  flagged_txn_count  max_risk_score  \
 0            9018                1                  0               0
 1           32095                5                  5               1
 2           61549                2                  2               1
 3           92172               32                 17               4
 4          114277                1                  1               1

    avg_risk_score
 0          0.0000
 1          1.0000
 2          1.0000
 3          1.4375
 4          1.0000  ,
 (184309, 5))

In [56]:
def assign_risk(row):
    if (row["max_risk_score"] >= 6) or (row["flagged_txn_count"] >= 10):
        return "High"
    elif (row["max_risk_score"] >= 3) or (row["flagged_txn_count"] >= 3):
        return "Medium"
    else:
        return "Low"

account_risk["risk_rating"] = account_risk.apply(assign_risk, axis=1)

account_risk["risk_rating"].value_counts(), account_risk.head(10)

(risk_rating
 Low       146031
 Medium     22094
 High       16184
 Name: count, dtype: int64,
    sender_account  total_txn_count  flagged_txn_count  max_risk_score  \
 0            9018                1                  0               0
 1           32095                5                  5               1
 2           61549                2                  2               1
 3           92172               32                 17               4
 4          114277                1                  1               1
 5          153883                1                  1               1
 6          155434               12                  1               2
 7          162832                2                  0               0
 8          251764                3                  3               1
 9          251846                3                  3               1

    avg_risk_score risk_rating
 0        0.000000         Low
 1        1.000000      Medium
 2        1.000000         Low
 3        1.437500        High
 4        1.000000         Low
 5        1.000000         Low
 6        0.166667         Low
 7        0.000000         Low
 8        1.000000      Medium
 9        1.000000      Medium  )

In [ ]:
# Customer Table creation

In [57]:
customer = account_risk.rename(
    columns={"sender_account": "account_id"}
)[
    [
        "account_id",
        "risk_rating",
        "max_risk_score",
        "avg_risk_score",
        "total_txn_count",
        "flagged_txn_count"
    ]
]

customer.head(), customer.shape

(   account_id risk_rating  max_risk_score  avg_risk_score  total_txn_count  \
 0        9018         Low               0          0.0000                1
 1       32095      Medium               1          1.0000                5
 2       61549         Low               1          1.0000                2
 3       92172        High               4          1.4375               32
 4      114277         Low               1          1.0000                1

    flagged_txn_count
 0                  0
 1                  5
 2                  2
 3                 17
 4                  1  ,
 (184309, 6))

# Assistant
The error occurs because the 'faker' module is not installed in your environment. The code has a commented-out installation command, but it wasn't executed.

Would you like me to provide the corrected code?

In [59]:
# Install faker package
!pip install faker

from faker import Faker
import numpy as np

fake = Faker()
Faker.seed(42)
np.random.seed(42)

# generate one name per customer
customer["customer_name"] = [fake.name() for _ in range(len(customer))]

customer[["account_id", "customer_name"]].head(10)

Collecting faker
  Downloading faker-40.1.2-py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: tzdata in c:\users\anjal\anaconda3\lib\site-packages (from faker) (2025.2)
Downloading faker-40.1.2-py3-none-any.whl (2.0 MB)
   ---------------------------------------- 0.0/2.0 MB ? eta -:--:--
   -------------------------- ------------- 1.3/2.0 MB 18.6 MB/s eta 0:00:01
   ---------------------------------------- 2.0/2.0 MB 7.0 MB/s  0:00:00
Installing collected packages: faker
Successfully installed faker-40.1.2

   account_id    customer_name
0        9018     Allison Hill
1       32095      Noah Rhodes
2       61549  Angie Henderson
3       92172    Daniel Wagner
4      114277  Cristian Santos
5      153883  Connie Lawrence
6      155434  Abigail Shaffer
7      162832       Gina Moore
8      251764  Gabrielle Davis
9      251846       Ryan Munoz

In [61]:
import random

random.seed(42)

occupation_map = {
    "High": ["Importer", "Exporter", "Cash Trader", "Consultant"],
    "Medium": ["Freelancer", "Small Business Owner", "Contractor"],
    "Low": ["Student", "Salaried Employee", "Retired"]
}

customer["occupation"] = customer["risk_rating"].apply(
    lambda r: random.choice(occupation_map[r])
)

customer[["account_id", "risk_rating", "occupation"]].head(10)

   account_id risk_rating   occupation
0        9018         Low      Retired
1       32095      Medium   Freelancer
2       61549         Low      Student
3       92172        High  Cash Trader
4      114277         Low      Student
5      153883         Low      Student
6      155434         Low      Student
7      162832         Low      Retired
8      251764      Medium   Freelancer
9      251846      Medium   Contractor

In [62]:
business_roles = [
    "Importer", "Exporter", "Cash Trader", "Small Business Owner"
]

customer["customer_type"] = customer["occupation"].apply(
    lambda x: "Business" if x in business_roles else "Individual"
)

customer[["account_id", "occupation", "customer_type"]].head(10)

   account_id   occupation customer_type
0        9018      Retired    Individual
1       32095   Freelancer    Individual
2       61549      Student    Individual
3       92172  Cash Trader      Business
4      114277      Student    Individual
5      153883      Student    Individual
6      155434      Student    Individual
7      162832      Retired    Individual
8      251764   Freelancer    Individual
9      251846   Contractor    Individual

In [63]:
customer.to_csv("dim_customer.csv", index=False)

In [64]:
tx.to_csv("fact_transactions.csv", index=False)

In [66]:
# First, you need to install the mysql-connector-python package
# Run this in a cell:
!pip install mysql-connector-python

# Then import the libraries
import sqlalchemy
import mysql.connector
import pandas as pd
print("Libraries are ready!")

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl.metadata (7.7 kB)
Downloading mysql_connector_python-9.5.0-cp313-cp313-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   -- ------------------------------------- 1.0/16.5 MB 11.7 MB/s eta 0:00:02
   ----- ---------------------------------- 2.4/16.5 MB 7.3 MB/s eta 0:00:02
   ------- -------------------------------- 3.1/16.5 MB 6.2 MB/s eta 0:00:03
   ---------- ----------------------------- 4.2/16.5 MB 5.6 MB/s eta 0:00:03
   ------------ --------------------------- 5.2/16.5 MB 5.3 MB/s eta 0:00:03
   -------------- ------------------------- 6.0/16.5 MB 5.2 MB/s eta 0:00:03
   ----------------- ---------------------- 7.1/16.5 MB 5.1 MB/s eta 0:00:02
   ------------------- -------------------- 8.1/16.5 MB 5.0 MB/s eta 0:00:02
   --------------------- ------------------ 8.9/16.5 MB 4.9 MB/s eta 0:00:02
   ------------------------ --------------- 10.0/16.5 MB 4.9 MB/s eta 0:00:02
   -------------------------- ------------- 11.0/16.5 MB 4.8 MB/s eta 0:00:02
   ---------------------------- ----------- 11.8/16.5 MB 4.8 MB/s eta 0:00:01
   ------------------------------- -------- 12.8/16.5 MB 4.8 MB/s eta 0:00:01
   --------------------------------- ------ 13.9/16.5 MB 4.8 MB/s eta 0:00:01
   ----------------------------------- ---- 14.7/16.5 MB 4.7 MB/s eta 0:00:01
   -------------------------------------- - 15.7/16.5 MB 4.7 MB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 4.6 MB/s  0:00:03
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0
Libraries are ready!

In [67]:
from sqlalchemy import create_engine

# Using your credentials: root user, your password, and aml_project database
engine = create_engine('mysql+mysqlconnector://root:anjali@310.in@localhost/aml_project')

# Test the connection
try:
    with engine.connect() as connection:
        print("Bridge built! Connection to MySQL is successful.")
except Exception as e:
    print(f"Connection failed: {e}")

Connection failed: (mysql.connector.errors.DatabaseError) 2005 (HY000): Unknown MySQL server host '310.in@localhost' (11003)
(Background on this error at: https://sqlalche.me/e/20/4xp6)

In [68]:
from sqlalchemy import create_engine
import urllib.parse

# This safely handles the '@' and '.' in your password
password = urllib.parse.quote_plus('anjali@310.in')

# Now we build the connection string again
engine = create_engine(f'mysql+mysqlconnector://root:{password}@localhost/aml_project')

# Test the connection again
try:
    with engine.connect() as connection:
        print("Bridge built! Connection to MySQL is successful.")
except Exception as e:
    print(f"Connection failed: {e}")

Bridge built! Connection to MySQL is successful.

In [70]:
# Reading the files into Pandas DataFrames
df_customer = pd.read_csv('dim_customer.csv')
df_transactions = pd.read_csv('fact_transactions.csv')

# Let's confirm they loaded correctly
print(f"Customer table loaded with {len(df_customer)} rows.")
print(f"Transactions table loaded with {len(df_transactions)} rows.")

Customer table loaded with 184309 rows.
Transactions table loaded with 1000000 rows.

In [71]:
# 1. Loading the Customer table
print("Uploading Customer table...")
df_customer.to_sql(name='dim_customer', con=engine, if_exists='replace', index=False)
print("Customer table successfully uploaded!")

# 2. Loading the Transactions table (using chunks because it's 1 million rows)
print("Uploading Transactions table (this may take a minute)...")
df_transactions.to_sql(name='fact_transactions', con=engine, if_exists='replace', index=False, chunksize=10000)
print("Transactions table successfully uploaded!")

Uploading Customer table...
Customer table successfully uploaded!
Uploading Transactions table (this may take a minute)...
Transactions table successfully uploaded!